= javascript_include_tag 'nexpose_consoles'

#nexpose_consoles
	#overview
		%div{:id => "detailed", :class => "tab_panel"}
			=form_tag '/staged_tickets/update', :method => :post, :name => 'staged_tickets_form' do
				%div{:class => "stepLead", :style => "width: 100%;"}
					.step
						%h3 Staged Tickets
						.stepInfo
							%table{:class => "list"}
								%thead{:class => "list-table-header"}
									%th{:class => "checkbox"}
										= check_box_tag "all_staged_tickets", 1, false, {:class => 'master_checkbox'}
									%th Device Name
									%th Vulnerability Title
								- @tickets.each do |ticket|
									%tr{:class => "#{cycle('odd', 'even')}"}
										%td
											= check_box_tag("ticket_ids[]", ticket[:id], false, {:class => 'child_checkbox'})
										%td
											- if ticket[:single_device]
												= ticket[:device_string]
											- else
												= select_tag("device_data", ticket[:device_string].html_safe, :disabled => true)
										%td
											- if ticket[:single_device]
												= ticket[:vuln_string]
											- else
												= select_tag("vuln_data", ticket[:vuln_string].html_safe, :disabled => true)
							- unless @tickets.empty?
								.btnRow
									%div{:class => "btn"}
										=submit_tag "Unstage", :class => "update", :confirm => "Unstage tickets"
